@charset "UTF-8";

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  display: none;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.section-title {
  margin-bottom: 34px;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title::after {
  margin-top: 12px;
  content: '';
  display: block;
  height: 6px;
  background: url("../img/line.png") center no-repeat;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 13px 18px;
  background-color: #ff9d00;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  vertical-align: middle;
  padding: 20px;
}

.button-o {
  border: 1px solid #9b9b9b;
  padding: 12px 17px;
  background-color: transparent;
  color: #373737;
}

.button-o:hover {
  border: 1px solid transparent;
  background-color: #ffa71a;
  color: #ffffff;
  cursor: pointer;
}

.form__input {
  width: 70%;
  vertical-align: middle;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 22px;
}

.slider-arrow_production {
  border: 1px solid #ff9b00;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow_left {
  left: 0;
  background: url("../img/production/arrow-left.png") center no-repeat;
}

.slider-arrow_left:hover {
  background: #ff9b00 url("../img/production/arrow-left_active.png") center no-repeat;
}

.slider-arrow_right {
  right: 0;
  background: url("../img/production/arrow-right.png") center no-repeat;
}

.slider-arrow_right:hover {
  background: #ff9b00 url("../img/production/arrow-right_active.png") center no-repeat;
}

.slider-arrow_feedback-left {
  background: url("../img/feedback/arrow-left.png") center no-repeat;
}

.slider-arrow_feedback-left:hover {
  background: transparent url("../img/feedback/arrow-left.png") center no-repeat;
}

.slider-arrow_feedback-right {
  background: url("../img/feedback/arrow-right.png") center no-repeat;
}

.slider-arrow_feedback-right:hover {
  background: transparent url("../img/feedback/arrow-right.png") center no-repeat;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.header-nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #373737;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-nav-button {
  display: none;
}

.header-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-nav-menu__item {
  padding: 7px 15px;
  border-right: 1px dotted #5f5f5f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.header-nav-menu__item:hover {
  color: #ff9d00;
  text-decoration: none;
}

.header-nav-menu__item:last-child {
  border: none;
  padding-right: 0;
}

.header-main {
  padding-top: 59px;
  padding-bottom: 15px;
}

.header-logo {
  display: inline-block;
  width: 193px;
  height: 61px;
  background: url("../img/header/header-logo.png") center no-repeat;
  background-size: 100%;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone {
  margin-right: 28px;
  font-size: 22px;
  font-weight: 400px;
  color: #373737;
}

.header-contacts__phone:first-child {
  margin-right: 14px;
  border-right: 1px solid #cfcfd0;
  padding-right: 14px;
}

.bg-slider {
  margin-top: -60px;
}

.bg-one {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background: #373737 url("../img/main/main-bg-1.jpg") center no-repeat;
  background-size: cover;
}

.bg-one:focus {
  outline: none;
}

.bg-two {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  background: #373737 url("../img/main/main-bg-2.jpg") center no-repeat;
  background-size: cover;
}

.bg-two:focus {
  outline: none;
}

.main {
  padding: 60px 0;
  color: #ffffff;
  z-index: 1;
  margin-bottom: -60px;
  /* Слайдер главной картинки */
  /* Заголовок */
}

.main-container {
  position: absolute;
  left: 50%;
  margin-left: -570px;
  top: 200px;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.main-img {
  position: relative;
  padding: 35px 10px 90px 10px;
}

.main-img img {
  width: 455px;
}

.main-img:focus {
  outline: none;
}

.main-text-slider__title {
  font-size: 41px;
  font-weight: bold;
  line-height: 42px;
}

.main-text-slider__title:focus {
  outline: none;
}

.main-text__subtitle {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 30px 27px;
  background-color: rgba(244, 244, 244, 0.2);
}

.main-form__description {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.main-form__description_important {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.main-form__note {
  font-size: 14px;
  font-weight: 300;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.features {
  padding-top: 49px;
  padding-bottom: 25px;
  background-color: #f4f4f4;
}

.numbers {
  text-align: center;
  margin-bottom: 38px;
}

.numbers-block {
  display: inline-block;
  min-width: 33%;
  vertical-align: top;
}

.numbers-block__title {
  font-size: 36px;
  font-weight: 900;
  color: #ff9d00;
}

.numbers-block__title sup {
  font-size: 22px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #373737;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 28px 19px;
  border: none;
  background-color: #ffffff;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  text-align: justify;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 11px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.products {
  padding-top: 55px;
  padding-bottom: 37px;
  text-align: center;
}

.products-block {
  margin-bottom: 36px;
}

.products-block__img {
  margin-bottom: 19px;
  max-height: 281px;
}

.products-block__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;
}

.products-block__button {
  margin-right: 12px;
}

.clients {
  padding-top: 55px;
  padding-bottom: 28px;
}

.clients-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 33px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 23%;
  height: 134px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients-block img {
  max-width: 90%;
  max-height: 90%;
}

.clients-block:hover {
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

.feedback {
  padding-top: 53px;
  padding-bottom: 66px;
  background-color: #f4f4f4;
}

.feedback-slider {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-slider__item {
  max-height: 377px;
}

.feedback-slider__item:focus {
  outline: none;
}

.feedback-slider__item img {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.production {
  padding-top: 87px;
  padding-bottom: 38px;
}

.production-slider {
  position: relative;
  z-index: 0;
}

.production-slider-for {
  width: 100%;
  height: 377px;
  overflow: hidden;
  margin-bottom: 13px;
}

.production-slider-for__item:focus {
  outline: none;
}

.production-slider-nav {
  height: 78px;
  overflow-y: hidden;
  padding-left: 28px;
  padding-right: 28px;
}

.production-slider-nav__item {
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
}

.production-slider-nav__item:focus {
  outline: none;
}

.production-text {
  margin-top: 19px;
  max-width: 379px;
}

.production-text__title {
  display: block;
  position: relative;
  z-index: -1;
  margin-left: -10%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 10%;
  width: 110%;
  border: none;
  background: #ff9d00;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}

.production-text__description {
  padding-top: 29px;
  width: 100%;
  color: #373737;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.offer {
  padding-top: 63px;
  padding-bottom: 69px;
  background: #373737 url("../img/offer/offer-bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.offer-form {
  text-align: center;
  color: #ffffff;
}

.offer-form__title {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}

.offer-form__title_small {
  font-size: 24px;
}

.offer-form__label {
  display: block;
  margin-top: 24px;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
}

.offer-form__input {
  margin-bottom: 12px;
  max-width: 365px;
  text-align: center;
}

.offer-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offer-form__note {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.contacts {
  position: relative;
}

.contacts-block {
  display: inline-block;
  position: absolute;
  top: 73px;
  left: 10%;
  border-radius: 4px;
  background-color: #ffffff;
  padding-top: 33px;
  padding-bottom: 39px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #373737;
}

.contacts-block__icon {
  margin-right: 10px;
  width: 22px;
}

.contacts-block__title {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
}

.contacts-block__address,
.contacts-block__phone,
.contacts-block__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block__address {
  margin-bottom: 30px;
}

.contacts-block__address__office {
  margin-bottom: 13px;
}

.contacts-block__phone {
  margin-bottom: 13px;
}

.contacts-block__cta {
  margin-left: 29px;
  margin-bottom: 25px;
}

.map {
  width: 100%;
  height: 550px;
}

.footer {
  padding-top: 36px;
  padding-bottom: 39px;
  background-color: #1b1b1b;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 750px;
}

.popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.popup-title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: #ff9d00;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-form {
  padding-top: 23px;
  padding-bottom: 23px;
  background: #373737 url("../img/modal/modal-bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.popup-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: middle;
  -ms-flex-align: middle;
  align-items: middle;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.popup-form__title {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
}

.popup-form__title_small {
  font-size: 24px;
  margin-bottom: 24px;
}

.popup-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
}

.popup-form__input {
  -ms-flex-preferred-size: 365px;
  flex-basis: 365px;
}

.popup-form__button {
  padding-right: 30px;
  padding-left: 30px;
}

.popup-form__note {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.thankyou-overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.thankyou-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
}

.thankyou-popup__close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.thankyou-popup__title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: #ff9d00;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .header-nav-menu__item {
    padding: 5px 13px;
  }

  .bg-one {
    height: 430px;
  }

  .bg-two {
    height: 430px;
  }

  .main {
    margin-bottom: -60px;
  }

  .main-container {
    top: 180px;
    left: 55%;
  }

  .main-img {
    margin-left: 70px;
    padding: 0;
  }

  .main-img img {
    width: 350px;
  }

  .main-text-slider__title {
    font-size: 30px;
    line-height: 32px;
  }

  .main-text__subtitle {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .main-text__form {
    padding: 20px 17px;
  }

  .main-form__description {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }

  .form__input {
    padding: 10px;
  }

  .button_big {
    padding: 10px;
  }

  .popup-title {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .popup-form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .header-nav-menu__item {
    padding: 2px 6px;
    font-size: 10px;
  }

  .header-logo {
    width: 150px;
    height: 50px;
  }

  .header-contacts__phone {
    margin-right: 10px;
    font-size: 15px;
  }

  .bg-one {
    height: 400px;
  }

  .bg-two {
    height: 400px;
  }

  .main-container {
    top: 160px;
    left: 70%;
  }

  .main-text-slider__title {
    font-size: 25px;
    line-height: 27px;
  }

  .main-text__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .main-text__form {
    padding: 20px 17px;
  }

  .numbers-block {
    display: block;
    margin-bottom: 23px;
  }

  .numbers-block__title {
    font-size: 30px;
  }

  .numbers-block__text {
    font-size: 14px;
    line-height: 18px;
  }

  .features {
    padding-top: 30px;
  }

  .features-block {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }

  .clients-blocks {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }

  .clients-block {
    width: 30%;
  }

  .products-block__title {
    min-height: 45px;
  }

  .clients-block {
    -webkit-filter: none;
    filter: none;
  }

  .popup {
    width: 90%;
  }

  .popup-form {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .header-nav {
    position: fixed;
    top: -100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }

  .header-nav_active {
    top: 60px;
  }

  .header-nav-button {
    display: block;
    position: fixed;
    top: 13px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .header-nav-button span,
  .header-nav-button span:before,
  .header-nav-button span:after {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #333333;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px;
  }

  .header-nav-button span:before {
    margin-top: -7px;
    content: '';
    -webkit-transition: all, 0.2s;
    transition: all, 0.2s;
  }

  .header-nav-button span:after {
    margin-top: 5px;
    content: '';
    -webkit-transition: all, 0.2s;
    transition: all, 0.2s;
  }

  .header-nav-button_active span {
    background-color: transparent;
  }

  .header-nav-button_active span:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: 0;
  }

  .header-nav-button_active span:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 0;
  }

  .header-nav-menu {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #373737;
  }

  .header-nav-menu__item {
    display: block;
    border-right: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    border-bottom: 1px dotted #5f5f5f;
    text-align: center;
    font-size: 12px;
  }

  .header-nav-menu__item:last-child {
    padding-right: 6px;
  }

  .header-main {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-logo {
    display: block;
    margin-left: 45px;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    background: #ff9d00 url("../img/header/header-logo_mobile.png") center no-repeat;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 14px;
  }

  .header-contacts__phone {
    margin: 0;
    font-size: 14px;
  }

  .header-contacts__phone:first-child {
    border-right: none;
    margin: 0;
  }

  .header-contacts__phone_black {
    font-weight: 900;
  }

  .header-contacts__button {
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
  }

  .main {
    position: relative;
    padding: 49px 15px;
    background: #373737 url("../img/main/main-bg-1.jpg") center no-repeat;
    background-size: cover;
  }

  .main::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .main-container {
    position: static;
    margin-left: 0;
  }

  .main-text {
    text-align: center;
  }

  .main-text-slider__title {
    font-size: 22px;
    line-height: 24px;
    color: #ff9d00;
  }

  .main-text__subtitle {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
  }

  .main-text__form {
    border: none;
    padding: 0 0;
    background: none;
  }

  .main-form {
    display: block;
  }

  .main-form__input {
    max-width: 365px;
  }

  .main-form__description {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 18px;
  }

  .main-form__description_important {
    margin-top: 14px;
  }

  .main-form__description-note {
    margin-top: 16px;
  }

  .form__input {
    margin-bottom: 13px;
    width: 100%;
    text-align: center;
  }

  .bg-slider {
    display: none;
  }

  .bg-slider-container {
    position: absolute;
    left: 50%;
    margin-left: -145px;
    top: 49px;
  }

  .features {
    padding-top: 72px;
    padding-bottom: 30px;
  }

  .features-block {
    margin-bottom: 15px;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    padding: 22px 11px;
  }

  .section-title {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .section-title::after {
    display: none;
  }

  .products {
    padding-top: 31px;
    padding-bottom: 21px;
  }

  .products-block {
    margin-bottom: 22px;
  }

  .products-block__img {
    margin-bottom: 10px;
  }

  .products-block__title {
    min-height: 0;
  }

  .products-block__title {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .products-block__button {
    margin-right: 12px;
  }

  .offer {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  .offer-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .offer-form__title_small {
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
  }

  .offer-form__title__note {
    margin-top: 16px;
    font-size: 13px;
  }

  .clients {
    padding-top: 27px;
    padding-bottom: 20px;
  }

  .clients-blocks {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .clients-block {
    margin-bottom: 8px;
    width: 48%;
    max-height: 87px;
  }

  .feedback {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .slider-arrow_production {
    top: 50%;
    -webkit-transform: translateY(-39px);
    transform: translateY(-39px);
    width: 22px;
    height: 78px;
  }

  .slider-arrow_left {
    left: 0;
    background: #ff9b00 url("../img/production/arrow-left_active.png") center no-repeat;
  }

  .slider-arrow_left:hover {
    background: #ff9b00 url("../img/production/arrow-left_active.png") center no-repeat;
  }

  .slider-arrow_right {
    right: 0;
    background: #ff9b00 url("../img/production/arrow-right_active.png") center no-repeat;
  }

  .slider-arrow_right:hover {
    background: #ff9b00 url("../img/production/arrow-right_active.png") center no-repeat;
  }

  .slider-arrow_feedback {
    top: 50%;
    -webkit-transform: translateY(-39px);
    transform: translateY(-39px);
    width: 22px;
    height: 78px;
  }

  .slider-arrow_feedback-left {
    left: 0;
    background: #ff9b00 url("../img/production/arrow-left_active.png") center no-repeat;
  }

  .slider-arrow_feedback-left:hover {
    background: #ff9b00 url("../img/production/arrow-left_active.png") center no-repeat;
  }

  .slider-arrow_feedback-right {
    right: 0;
    background: #ff9b00 url("../img/production/arrow-right_active.png") center no-repeat;
  }

  .slider-arrow_feedback-right:hover {
    background: #ff9b00 url("../img/production/arrow-right_active.png") center no-repeat;
  }

  .production {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .production-slider-nav {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .production-text {
    margin-top: 0;
    max-width: 100%;
    text-align: center;
  }

  .production-text__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 17px;
    position: static;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .production-text__description {
    padding-top: 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

  .contacts-block {
    position: static;
  }

  .popup {
    width: 85%;
    padding: 10px;
  }

  .popup-title {
    font-size: 21px;
  }

  .popup-form__container {
    display: block;
  }

  .popup-form__title {
    padding: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
  }

  .popup-form__title_small {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .popup-form__input {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .features-block {
    margin-bottom: 8px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .popup-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .popup-form {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .popup-form__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
  }

  .popup-form__title_small {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .popup-form__note {
    margin-top: 10px;
    font-size: 10px;
  }

  .popup-form__label {
    margin-bottom: 10px;
    font-size: 13px;
  }
}